In [1]:
import pandas as pd

In [2]:
clean_df = pd.read_pickle('../../data/03_processed/kick_proc.pkl')

In [3]:
clean_df.head()

,currency,goal_original,category,country,blurb_word_count,campaign_length,delta_created_launched,goal_usd,target_dummy
0,USD,499.0,Comic Books,US,15.0,5,0,499.00000,1
1,AUD,500.0,Metal,AU,25.0,7,0,350.49251,0
2,USD,1500.0,Tabletop Games,US,11.0,7,2,1500.00000,1
3,USD,5000.0,Anthologies,US,7.0,7,1,5000.00000,0
4,USD,150.0,Metal,US,4.0,11,0,150.00000,1